<!DOCTYPE html>
<html>
    <head>
        <title>Main Menu</title>
        <link rel="icon" type="image/png" sizes="16x16" href="static/images/icon.ico">
        <link rel="stylesheet" href="/static/mainmenu.css">
    </head>
    <body>
        <img class='background' src='/static/images/mainmenu.png'>
        <div class='button-container'>
            <a href="{{url_for('weather')}}">
                <img class="get-started" src="/static/images/main_menu_btn.png">
            </a>
            </br>
            </br>
        </div>
    </body>
</html>